@media only screen and (max-width: 460px) {
  .logoutmodal {
    width: 90%;
  }
}
.logn_page {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 75% !important;
}
.login {
  height: 100%;
}
.signup {
  height: 100%;
}
.link {
  text-decoration: none !important;
  cursor: pointer;
}
